@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 225 15% 97%; /* #f8fafc */
  --foreground: 215 25% 27%; /* #334155 */
  --muted: 210 20% 94%; /* #e2e8f0 */
  --muted-foreground: 215 16% 47%; /* #64748b */
  --popover: 0 0% 100%;
  --popover-foreground: 215 25% 27%;
  --card: 0 0% 100%;
  --card-foreground: 215 25% 27%;
  --border: 215 28% 90%; /* #cbd5e1 */
  --input: 215 28% 90%;
  --primary: 215 84% 34%; /* #1e40af */
  --primary-foreground: 0 0% 98%;
  --secondary: 210 20% 94%;
  --secondary-foreground: 215 25% 27%;
  --accent: 142 76% 36%; /* #059669 */
  --accent-foreground: 0 0% 98%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 60 9.1% 97.8%;
  --ring: 215 84% 34%;
  --radius: 0.75rem;
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --primary: 207 90% 54%;
  --primary-foreground: 211 100% 99%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --ring: 240 4.9% 83.9%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}
